@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 93%;
  --foreground: 0 0% 8%;
  --card: 0 0% 96%;
  --card-foreground: 0 0% 8%;
  --primary: 143 65% 34%;
  --primary-muted: 143 42% 73%;
  --accent: 4 100% 63%;
  --muted: 0 0% 98%;
  --border: 0 0% 89%;
  --surface: 0 0% 93%;
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground antialiased;
}
